

/* Positionnement */
.d-block {display : block ;}

.d-flex {display : flex ;}
.flex-direction-column {flex-direction : column ;}
.flex-wrap {flex-wrap : wrap ;}
.flex-grow-1 {flex-grow : 1 ;}
.justify-content-between {justify-content : space-between ;}
.justify-content-center {justify-content : center ;}
.align-items-center { align-items : center ;}



/* TEXT */
.text-align-right {text-align : right ;}


/* MARGIN */
.m-0 { margin : 0 ;}
.m-2 { margin : calc(var(--main-dimension-px) *2 ); }
.mr-1 { margin-right : var(--main-dimension-px) ; }
.mr-2 { margin-right : calc(var(--main-dimension-px) *2 ); }
.mb-1 { margin-bottom : var(--main-dimension-px); }
.mt-1 { margin-top : var(--main-dimension-px); }

.p-0 { padding : 0 ;}
.p-1 { padding : var(--main-dimension-px) ; }
.p-2 { padding : calc(var(--main-dimension-px) *2 ); }
.pr-1 { padding-right : var(--main-dimension-px) ; }
.pr-2 { padding-right : calc(var(--main-dimension-px) *2 ); }


.list-style-none {list-style-type : none ;}

.border-bottom {border-bottom : 1px solid grey ;}
.border-top {border-top : 1px solid grey ;}