/* -------------- Main part -------------- */
#multimaid_gamezone {
    background-repeat : no-repeat ;
    background-size : contain ;
    background-position : center ;
    background-color : black ;
}

#multimaid_gamezone header, #multimaid_gamezone footer {
    color : white ;
    padding : var(--main-dimension-px) ;
    background : rgba(0, 0, 0, 0.35) ;
}

#multimaid_steps_play {
    height : 600px ;
}

/* -------------- END Main part -------------- */




/* -------------- Aside -------------- */
#multimaid_aside {
    width : 320px ;
    background : black ;
    border-left : 1px solid grey ;
    color : lightgrey ;
}

#stepbanner {
    width : 100% ;
    min-height : 100px ;
}




/* Lyrics */
#lyrics_content {
    overflow-y : auto ;
    height : calc(100vh - 100px - (30px * 4 + var(--main-dimension-px) * 2) - 30px - 80px - 10px) ;
}
/* END Lyrics */



/* Playlist */
#multimaid_playlist {
    height : calc(30px * 4 + var(--main-dimension-px) * 2) ;
    overflow-y : auto ;
    font-size : 0.8rem ;
}

.micro-vignette {
    width : 30px ;
}
.empty-micro-vignette {
    width : 30px ;
    height : 30px ;
    border : 1px solid grey ;
}
/* END Playlist */



/* Player controller*/
.media-btn {
    width: 100%;
    max-width: 50px;
    height: auto;
    margin: auto;
    cursor: pointer;
    margin: 1rem;
}
/* END Player controller */