@import url('atomic.css');
@import url('mediaplayer.css');
@import url('tabsystem.css');

:root {
    --main-dimension-px : 12px ;
}

* {
    box-sizing : border-box ;
    font-family : sans-serif ;
}
body {
    background : black ;
}