.list-menu-horizontal {
    margin : 0 ;
    padding : 6px ;
    list-style : none ;
    display : flex ;
    justify-content : space-between ;
    font-size : 0.8rem ;
}

.tablinks:hover {
    cursor : pointer ;
}
.tablinks.active {
    color : #00FF00 ;
}